.status {
  margin-top: 24px;
  letter-spacing: 0.04em;
  font-size: 12px;
  text-transform: uppercase;
  word-spacing: 0.1em;
  text-wrap: pretty;
}
.read {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
